@import "includes/utils/colors.scss";

.chal-desc {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 14px;
}

.chal-desc img {
  max-width: 100%;
  height: auto;
}

.modal-content {
  border-radius: 0px;
  max-width: 1000px;
  padding: 1em;
  margin: 0 auto;
}

.btn-info {
  background-color: #5b7290 !important;
}

.badge-info {
  background-color: #5b7290 !important;
}

.challenge-button {
  box-shadow: 3px 3px 3px grey;
  background-color: $hackm3-bg;
  color: $matrix-green;
  border: 2px solid $matrix-green;
  border-top-width: 20px;

  :hover {
    font-size: 16px;
  }
}

.solved-challenge {
  box-shadow: 3px 3px 3px grey;
  background-color: #37d63e !important;
  opacity: 0.4;
  border: 2px solid $matrix-green;
  border-top-width: 20px;
}

.corner-button-check {
  margin-top: -10px;
  margin-right: 25px;
  position: absolute;
  right: 0;
}

.key-submit .btn {
  height: 51px;
}
