@import "~bootstrap/dist/css/bootstrap.css";
@import "includes/jumbotron.css";
@import "includes/sticky-footer.css";
@import "includes/award-icons.scss";
@import "includes/flag-icons.scss";
@import "includes/utils/opacity.scss";
@import "includes/utils/min-height.scss";
@import "includes/utils/colors.scss";

html,
body,
.container {
  font-family: "Lato", "LatoOffline", sans-serif;
  color: $matrix-green;
}

body {
  background-color: $hackm3-bg;
}

h1,
h2 {
  font-family: "Press Start 2P", "Raleway", "RalewayOffline", cursive, sans-serif;
  font-weight: 500;
  letter-spacing: 0.1em;
}

a {
  color: #337ab7;
  text-decoration: none;
}

table > thead > tr > td {
  /* Remove border line from thead of all tables */
  /* It can overlap with other element styles */
  border-top: none !important;
}

.table thead th {
  white-space: nowrap;
}

.fa-spin.spinner {
  text-align: center;
  opacity: 0.5;
}

.spinner-error {
  padding-top: 20vh;
  text-align: center;
  opacity: 0.5;
}

.jumbotron {
  border-radius: 0;
  text-align: center;
  background-image: url("/themes/hackm3/static/img/cover.jpg");

  h1 {
    color: $matrix-green;
    letter-spacing: 0.2em;
    font-size: 2.25em;
  }

}

.form-control:focus {
  color: $matrix-green;
  background-color: transparent;
  border-color: #a3d39c;
  box-shadow: 0 0 0 0.1rem #a3d39c;
  transition: background-color 0.3s, border-color 0.3s;
}

.input-filled-valid {
  background-color: transparent !important;
  border-color: #a3d39c;
  box-shadow: 0 0 0 0.1rem #a3d39c;
  transition: background-color 0.3s, border-color 0.3s;
}

.input-filled-invalid {
  background-color: transparent !important;
  border-color: #d46767;
  box-shadow: 0 0 0 0.1rem #d46767;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-outlined.btn-theme {
  background: none;
  color: #545454;
  border-color: #545454;
  border: 3px solid;
}

.btn-outlined {
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn {
  letter-spacing: 1px;
  text-decoration: none;
  -moz-user-select: none;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 20px;
}

.btn-info {
  background-color: #5b7290 !important;
  border-color: #5b7290 !important;
}

.badge-info {
  background-color: #5b7290 !important;
}

.alert {
  border-radius: 0 !important;
  padding: 0.8em;
}

.btn-fa {
  cursor: pointer;
}

.close {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-help {
  cursor: help;
}

.modal-content {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
    background-color: $hackm3-bg;
  color: $matrix-green;

  border-radius: 0px;
  max-width: 1000px;
  padding: 1em;
  margin: 0 auto;

  .modal-header {
    border-bottom: 1px solid $matrix-green;
  }

  .modal-footer {
    border-top: 1px solid $matrix-green;
  }

  .close {
    color: $matrix-green;
  }

  .challenge-value {
    font-weight: bold;
  }

  .tab-content {
    .table {
      color: $matrix-green;

      a {
        color: $matrix-green;
      }
    }
  }

}

.fa-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.badge-notification {
  vertical-align: top;
  margin-left: -1.5em;
  font-size: 50%;
}

.form-control {
  position: relative;
  display: block;
  padding: 0.8em !important;
  border-radius: 0;
  background: transparent;
  color: $matrix-green;
  font-weight: 400;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
  /* Behavior changed in Bootstrap v4.1.3. See https://github.com/twbs/bootstrap/issues/27629 */
  height: auto !important;
}

.table {
  color: $matrix-green;
  background-color: $hackm3-bg;
  border: 2px solid $matrix-green;
  border-top-width: 20px;

  td, th {
    border-top: 1px solid $matrix-green;
  }

  a {
    color: $matrix-green;

    :hover {
      font-weight: bold;
      text-decoration: none;
    }
  }
}


.nav-tabs {
  border-bottom: 1px solid $matrix-green;

  .nav-link {
    color: $matrix-green;
    background-color: transparent;

    :hover {
      border: 1px solid $matrix-green;
    }
  }

  .nav-link.active {
    background-color: $hackm3-bg;
    color: $matrix-green;
    border: 1px solid $matrix-green;
    font-weight: bold;
  }
}

.nav-pills {
  .nav-link {
    color: $matrix-green;
    background-color: transparent;

    :hover {
      border: 1px solid $matrix-green;
    }
  }

  .nav-link.active {
    background-color: $hackm3-bg;
    color: $matrix-green;
    border: 1px solid $matrix-green;
    font-weight: bold;
  }
}

.card {
  color: $matrix-green;
  background-color: $hackm3-bg !important;
  border: 2px solid $matrix-green;
  border-top-width: 20px;

  .close {
    color: $matrix-green;
  }
}

.toast {
  background-color: $hackm3-bg;
  color: $matrix-green;
  border: 2px solid $matrix-green;
  border-top-width: 10px;

  .toast-header {
    color: $matrix-green;
    background-color: $hackm3-bg;
    border-bottom: 1px solid $matrix-green;

    .close {
      color: $matrix-green;
    }
  }
}

.bg-hackm3-blue {
  background-color: $hackm3-blue;
}
